*{
    margin: 0;
    padding: 0;
}
/* footer.css */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-item:last-child {
    margin-right: 0;
  }
  
  .footer-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-item a:hover {
    color: rgb(248, 107, 47);
  }
  