
/* product for css */

.product-form-container {
    margin: 5% auto;
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;

    padding: 20px;
    border: 1px solid black;
   
  }
  
  .product-form-container input{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  
  .product-form-container label{
    color: #6c757d;
    display: flex;
    
  }
  .product-form-container button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color:   rgb(47, 178, 93);
    color: white;
  }



/* category form css */


  .category-form-cotainer {
    margin: 5% auto;
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;

    padding: 20px;
    border: 1px solid black;
   
  }
  
  .category-form-cotainer input{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  
  .category-form-cotainer label{
    color: #6c757d;
    display: flex;
    
  }
  .category-form-cotainer button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color:   rgb(47, 178, 93);
    color: white;
  }




/* product image form  */

.image-form-container {
    margin: 5% auto;
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;

    padding: 20px;
    border: 1px solid black;
   
  }
  
  .image-form-container input, select{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
  }

  
  .image-form-container label{
    color: #6c757d;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    
  }
  .image-form-container button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
  background-color:   rgb(47, 178, 93);
  color: white;
  }

  @media (max-width:768px){
    .product-form-container{
        width: 300px;
    }

    .category-form-cotainer{
        width: 300px;
    }
    .image-form-container{
      width: 300px;    
    }
  }